@import "tailwindcss";

:root {
    --color-bg-body: #FFFFFF;         
    --color-bg-surface: #F5F5F5;     
    
    --color-primary: #004D6D;         
    --color-secondary: #2ECFBB;       

    
    --color-text-primary: #333333;    
    --color-text-secondary: #A0A0A0; 

    
    --color-success: #4CAF50;
    --color-error: #F44336;
    --color-warning: #FFC107;

  
    --background: var(--color-bg-body);
    --foreground: var(--color-text-primary);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans); 
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        
        --color-bg-body: #121212;         
        --color-bg-surface: #1E1E1E;      

        
        --color-primary: #4CA6C2;
        --color-secondary: #64E3D2;

        
        --color-text-primary: #E0E0E0;    
        --color-text-secondary: #909090;  

        
        --color-success: #6BCF70;
        --color-error: #FF6E6E;
        --color-warning: #FFFF00;

        
        --background: var(--color-bg-body);
        --foreground: var(--color-text-primary);
    }
}

body {
    
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s; 
}